html {
    scroll-behavior: smooth;
}

#submit{
    border-radius: 10px;
    font-size: large;
    background-color: #E9A672;
    border: none;
    color: black;
}

h4 {
    overflow: hidden;
    text-align: center;
}
h4:before,
h4:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h4:before {
    right: 0.5em;
    margin-left: -50%;
}
h4:after {
    left: 0.5em;
    margin-right: -50%;
}