html {
    scroll-behavior: smooth;
}

#submit{
    border-radius: 10px;
    font-size: large;
    background-color: #E9A672;
    border: none;
    color: black;
}

h4 {
    overflow: hidden;
    text-align: center;
}