/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #0f69a9;
  text-decoration: none;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #0f69a9;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  background: white;
}
#header #logo h1 {
  font-size: 64px;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
#header #logo h1 img {
  padding: 0;
  margin: 0;
  max-width: 150px;
}
@media (max-width: 768px) {
  #header {
    height: 60px;
  }
  #header #logo h1 {
    font-size: 34px;
  }
  #header #logo h1 img {
    max-width: 100px;
  }
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #0FA99C;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: black;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  z-index: 999;
  background-color: white;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  color: black;
  font-size: 48px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  right: 25px;
  left: -5px;
  overflow-y: auto;
  transition: 0.3s;
  background-color: white;
}
.navbar-mobile a, .navbar-mobile a:focus {
  font-size: 30px;
  color: black;
  justify-content: center;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #0FA99C;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: #0051FF;
  border-bottom: 2px solid white;
}
@media (max-width: 768px) {
  #hero {
    height: 95vh;
  }
}
#hero h1 {
  margin-bottom: 30px;
  font-size: 54px;
  font-weight: 900;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#hero .btn-get-started{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 26px;
    border-radius: 5px;
    transition: 0.5s;
    color: white;
    background: none;
    border: 2px solid white;
}
#hero .btn-get-started:hover{
  background: white;
  border: 2px solid white;
  color: black;
}
#hero .image1 {
  display: none;
}
#hero .image2 {
  max-width: 700px;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
  #hero .image1 {
    display: none;
  }
  #hero .image2 {
    max-width: 500px;
  }
}
@media (max-width: 991px) {
  #hero .hero-img {
    text-align: center;
  }
  #hero .image1 {
    display: none;
  }
  #hero .image2 {
    max-width: 450px;
  }
}
@media (max-width: 768px) {
  #hero {
    text-align: center;
  }
  #hero h1{
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #hero .btn-get-started {
    padding: 8px 20px;
    font-size: 14px;
  }
  #hero .image2 {
    display: none;
  }
  #hero .image1 {
    display: block;
    max-width: 450px;
  }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

/* Sections Header
--------------------------------*/
.section-header {
  margin-bottom: 30px;
}
.section-header h2 {
  font-size: 32px;
  color: black;
  font-weight: 700;
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.section-header p {
  padding: 0;
  margin: 0;
  text-align: center;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #fafafa;
  min-height: 40px;
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/* About Section
  --------------------------------*/
  #about {
    padding: 60px 0 30px 0;
  }
  #about .about-img {
    overflow: hidden;
  }
  #about .about-img img {
    margin-left: 15px;
    max-width: 100%;
  }
  @media (max-width: 767px) {
    #about .about-img {
      height: auto;
      padding-top: 30px;
    }
    #about .about-img img {
      margin-left: 0;
      padding-bottom: 30px;
    }
  }

  #about h2 {
    color: black;
    font-weight: 900;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #about p {
    line-height: 26px;
    margin: 0 0 30px 0;
  }
  #about .content p:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    #about h2 {
      font-size: 18px;
    }
    #about p,ul {
      font-size: 14px;
    }
  }
  #about .content ul {
    list-style: none;
    padding: 0;
  }
  #about .content ul li {
    padding-bottom: 10px;
  }
  #about .content .btn-get-started {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 5px;
  transition: 0.5s;
  color: white;
  background: #0051FF;
  }
  #about .content .btn-get-started:hover {
    background: none;
    color: black;
    border: 2px solid #0051FF;
  }
  @media (max-width: 767px) {
    #about .content .btn-get-started {
      padding: 8px 16px;
      font-size: 12px;
    }
  }
  #about li {
    color: black;
    line-height: 2.5em;
  }
  #table {
    margin-left: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  @media (max-width: 767px) {
    table {
      font-size: 12px;
      
    }
  }
  #heading{
    background-color: #002060;
    color: white;
    font-weight: bold;
  }
  .warehousing_image1 {
    margin-left: 15px;
  }
  .warehousing_image2 {
    display: none;
  }
  @media (max-width: 767px) {
    .warehousing_image1 {
      display: none;
    }
    .warehousing_image2 {
      display: block;
    }
  }
/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 60px 0 60px;
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.8)), url("/assets/img/counts-bg.jpg") center;
  background-size: cover;
  background-attachment: fixed;
}
.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  margin-left: 40px;
}
@media (max-width: 767px) {
  .counts .count-box {
    margin-left: 0;
  }
}
.counts .count-box span {
  font-size: 44px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-weight: 900;
  color: white;
  text-align: center;
}
.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 767px) {
  .counts .count-box {
    justify-content: center;
  }
  .counts .count-box span, .counts .count-box p {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}
.services .service-box .bi-bullseye, .services .service-box .bi-gem, .services .service-box .bi-gear-wide-connected, .services .service-box .bi-pencil, .services .service-box .bi-server, .services .service-box .bi-life-preserver {
  font-size: 36px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
  color: #0FA99C;
}
.services .service-box h3 {
  color: #444444;
  font-weight: 700;
  font-size: 24px;
}
.services .service-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}
.services .service-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}
.services .service-box.blue {
  border-bottom: 3px solid #2db6fa;
}
.services .service-box.blue .icon {
  color: #2db6fa;
  background: #dbf3fe;
}
.services .service-box.blue .read-more {
  color: #2db6fa;
}
.services .service-box.blue:hover {
  background: #2db6fa;
}
.services .service-box.orange {
  border-bottom: 3px solid #f68c09;
}
.services .service-box.orange .icon {
  color: #f68c09;
  background: #fde3c4;
}
.services .service-box.orange .read-more {
  color: #f68c09;
}
.services .service-box.orange:hover {
  background: #f68c09;
}
.services .service-box.green {
  border-bottom: 3px solid #08da4e;
}
.services .service-box.green .icon {
  color: #08da4e;
  background: #cffddf;
}
.services .service-box.green .read-more {
  color: #08da4e;
}
.services .service-box.green:hover {
  background: #08da4e;
}
.services .service-box.red {
  border-bottom: 3px solid #e9222c;
}
.services .service-box.red .icon {
  color: #e9222c;
  background: #fef7f8;
}
.services .service-box.red .read-more {
  color: #e9222c;
}
.services .service-box.red:hover {
  background: #e9222c;
}
.services .service-box.purple {
  border-bottom: 3px solid #b50edf;
}
.services .service-box.purple .icon {
  color: #b50edf;
  background: #f8e4fd;
}
.services .service-box.purple .read-more {
  color: #b50edf;
}
.services .service-box.purple:hover {
  background: #b50edf;
}
.services .service-box.pink {
  border-bottom: 3px solid #f51f9c;
}
.services .service-box.pink .icon {
  color: #f51f9c;
  background: #feecf7;
}
.services .service-box.pink .read-more {
  color: #f51f9c;
}
.services .service-box.pink:hover {
  background: #f51f9c;
}
.services .service-box:hover h3, .services .service-box:hover p, .services .service-box:hover .read-more {
  color: #fff;
}
.services .service-box:hover .bi-bullseye, .services .service-box:hover .bi-gem, .services .service-box:hover .bi-gear-wide-connected, .services .service-box:hover .bi-pencil, .services .service-box:hover .bi-server, .services .service-box:hover .bi-life-preserver {
  color: black;
}
.services .service-box:hover .icon {
  background: #fff;
}

/* Our Portfolio Section
  --------------------------------*/
  #portfolio {
    background: #fff;
    padding: 30px 0;
  }
  #portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
  }
  @media (max-width: 767px) {
    #portfolio .portfolio-item {
      text-align: center;
    }
  }
  #portfolio .portfolio-item img {
    position: relative;
    top: 0;
    margin-left: 15px;
    cursor: pointer;
  }
  #portfolio .portfolio-item:hover img {
    top: -30px;
  }
  @media (max-width: 767px) {
    #portfolio .portfolio-item:hover img {
      top: 0;
    }
  }
  #portfolio .container .section-header h2{
    text-align: center;
  }

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #0051FF;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: all 0.4s;
  }
  .back-to-top:hover {
    background: #0038b2;
  }
  .back-to-top i {
    font-size: 28px;
    color: white;
    line-height: 0;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  @media (max-width: 767px) {
    .back-to-top {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    .back-to-top.active {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  color: black;
  font-size: 14px;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #f1f6fe;
  text-align: center;
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}
#footer .footer-newsletter form input[type=email] {
  border: none;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #106eea;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #0038b2;
}
#footer .footer-top {
  padding: 60px 0 0 0;
  background: #fff;
  border-bottom: 2px solid #0FA99C;
}
#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact h3 img {
  max-width: 150px;
}
#footer .footer-top .footer-contact h3 span {
  color: #106eea;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  color: black;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #106eea;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: black;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #106eea;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0051FF;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #0038b2;
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  text-align: center;
}
@media (max-width: 768px) {
  #footer .copyright {
    float: none;
    text-align: center;
  }
}