@font-face {
    font-family: GlacialIndifference;
    src: url("fonts/GlacialIndifference-Regular.otf") format("opentype");
}
@font-face {
    font-family: GlacialIndifferenceBold;
    src: url("fonts/GlacialIndifference-Bold.otf") format("opentype");
}
@font-face {
    font-family: GlacialIndifferenceItalic;
    src: url("fonts/GlacialIndifference-Italic.otf") format("opentype");
}

body{
	margin:0px; 
	padding:0px;
	font-family:GlacialIndifference;
	
	}
		body p {
			line-height:1.8em;
			font-size:18pt;
		}
img{/**/}
	img:hover{cursor:pointer;}
	img:focus{ border: 0.5em solid #F7941E;/*orange*/}
u{cursor:pointer;}
a{
	color:black;
	text-decoration:none;
	cursor:pointer;
	}/*Hyperlink Styling*/
	a:focus{
		color:#F7941E;
		text-decoration:underline;
		border: 0.2em solid #F7941E;/*orange*/
		}
	a:active{
		color:#253140;/*blue*/
	}
	a:hover{
		text-decoration:underline;
	}
.orangeOnHover:hover{color:#F7941E;}/*used for link on login page and Ginger Dingo in the footer*/

button{
	border: 0.2em solid #253140;/*blue*/
	border-radius:0.5em;
	background-color:white;
	cursor:pointer;
}
	button:focus{
		color:#F7941E;/*orange*/
		border: 0.2em solid #F7941E;/*orange*/
		}
	button:hover{
		border: 0.2em solid #253140;/*blue*/
		border-radius:0.5em;
		background-color:#F7941E;/*orange*/
		color:white;
	}
	button:active{
		color:#253140;/*blue*/
	}

input{
	border: 0.2em solid #253140;
	font-family: GlacialIndifferenceBold;
	color:#253140;
}
	input:focus{
		border: 0.2em solid #F7941E;
	}
	input:hover{
		border: 0.2em solid #F7941E;
	}
	
select {
	border: 0.2em solid #253140;
	font-family: GlacialIndifferenceBold;
	color:#253140;/*blue*/
}
	select:focus{border: 0.2em solid #F7941E;}
	select:hover{border: 0.2em solid #F7941E;}
textarea{
	color:#253140;/*blue*/
	font-family: GlacialIndifferenceBold;
	}	
	textarea:hover{border: 0.2em solid #F7941E;}
	textarea:focus{border: 0.2em solid #F7941E;}



/*Header CSS Below*/

header{
	background-color:#253140;/*Blue*/
}

h2 {
	margin-left:0.6em;
	font-family: GlacialIndifferenceBold;
	
}

.gray{background-color:#f7f7f7;}

#logo{/*This is the big B&M Logo in the header*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:-6.2em;
	text-align:center;/*Text align is used on images to align their alt text*/
	color:white;/*Color is used on an image to color its alt text*/
	padding:1em;
	height:auto;
	width:35%;
	}

#headerGrid{
	text-align:right;
	display:grid;
	justify-content:right;
	grid-template-columns:auto auto;
	grid-gap:1em;
	padding:0.8em;
}
	#headergrid a{
		color:black;
		text-decoration:none;
	}
	#headerGrid button{
		line-height:2em;
		font-size:12pt;
		height:4em;
		
	}
	#cart{
		grid-column: 1 / span 1;
		text-align:center;
		width:3.5em;
			}
	#cart img{
			width:auto;
			height:3em;
			margin-left:-0.5em;
			margin-top:0.2em;
	}
	#logout{
			grid-column: 2 / span 1;
			}
		#logout img{
			height:auto;
			width:3em;
			float:right;
			margin-top:0em;
			padding-bottom:0.3em;
			display:inline-block;
			}
nav {
	text-align: center;
	font-size: 1.1em;
	height:1.8em;
	color:black;
	font-size:1.8em;
	background-color:#253140;
	padding-top:.4em;
	border-radius:4px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	}
		nav a {/*Styling for Navigation Bar Links*/
			color:white;
			text-decoration:none;}
			nav a:visited {color:white;}
			nav a:hover {/*Styling for Navigation Bar Links*/
				text-decoration:none;
				border: 4px solid #F7941E;
				border-radius: 0.5em;
				background-color: #F7941E;
			}
			nav a:focus {/*Styling for Navigation Bar Links*/
				text-decoration:none;
				border: 4px solid #F7941E;
				border-radius: 0.5em;
				background-color: #F7941E;
				color:white;
			}
			nav a:active{color:#253140;}
		#homeLink{grid-column: 1 / span 1;}
		#aboutUsLink{grid-column: 2 / span 1;}
		#productsLink{grid-column: 3 / span 1;}
		#contactLink{grid-column: 4 / span 1;}
		
/*Header CSS Above*/

/*Footer CSS Below*/		
footer{
		text-align:center;
		border-radius:.4em .4em 0em 0em;
		padding-top:0.4em;
		background-color:#253140;
		color:white;
	  }
		footer a {
			color:white;
			text-decoration:none;
		}
			footer a:hover{background-color:#F7941E;;}
		#scrollTopGrid{/*Scroll to top of page icon. Grid is used to keep it in the bottom right corner of the footer*/
			text-align:right;
			display:grid;
			justify-content:right;
			grid-template-columns:auto;
			grid-gap:1em;
		}
			#scrollTopGrid img{/*Scroll to top of page icon*/
					text-align:right;
					width:3em;
					height:auto;
					padding:1em;
				}
		
		#socialMediaGrid{/*This grid holds the social media icons in the footer*/
			display: grid;
			justify-content:center;
			grid-gap:4em;
			grid-template-columns: auto auto auto auto;
			}
			#socialMediaGrid img {/*Styling for social media icons in the footer*/
				width:3em;
				height:auto;
				padding:0.4em;
			}
			#icon0{grid-column: 1 / span 1;}/*These are the social media icons in the footer*/
			#icon1{grid-column: 2 / span 1;}
			#icon2{grid-column: 3 / span 1;}
			#icon3{grid-column: 4 / span 1;}
			
/*Footer CSS Above*/
			
/*Home Page exclusive CSS Below*/

.productDetailLink {
	 color:black;
	 text-decoration:none;
 }


#bannerImg{/*Banner Image on Home Screen*/
	height:auto;
	max-width:100%;
	text-align:center;
}

@media only screen and (min-width: 1254px) {/*CSS for screen size at or Above 1254px*/
	#col2GridHome{
			display:grid;
			grid-template-columns:auto auto;
			margin:1em;
			grid-gap:1em;
			background-color:#f7f7f7;
			
	}	#col2ImgGridHome {grid-column: 2 / span 1;}
		#col2GridContentHome{grid-column: 1 / span 1;}
	
}

@media only screen and (max-width: 1254px) {
	#col2GridHome{
			display:grid;
			grid-template-columns:50% 50%;
			margin:0.5em;
			grid-gap:2em;
			background-color:#f7f7f7;
			
	}	
		#col2GridHome img {
			width:80%;
			height:auto;
		}
		#col2ImgGridHome {grid-column: 2 / span 1;}
		#col2GridContentHome{grid-column: 1 / span 1;}
	
}

@media only screen and (max-width: 600px) {/*CSS for screen size BELOW px*/
	#col2GridHome{
			display:grid;
			grid-template-columns:50% 50%;
			margin:0.5em;
			grid-gap:2em;
			background-color:#f7f7f7;
			
	}	
		#col2GridHome img {
			width:80%;
			height:auto;/*This image size will need to change once final images are ready*/
		}
		#col2ImgGridHome {grid-column: 2 / span 1;}
		#col2GridContentHome{grid-column: 1 / span 1;}
	
}
	
@media only screen and (min-width: 1254px) {/*CSS for screen size at or Above 1254px*/
	.col3GridHome{/*This Grid Layout is Used on the Home Page and About Us Page*/
		display:grid;
			grid-template-columns:auto auto auto;
			grid-template-rows:auto auto;
			justify-items:center;
			align-items:center;
			padding:1em;
			grid-gap:4em;
			row-gap:1em;
			text-align:center;
	} .col3GridHome img {
			text-align:center;
			height:auto;
			width:20em;
			padding:1em;
		}
}

@media only screen and (max-width: 1254px) {/*CSS for screen size BELOW 1254px*/
	.col3GridHome{/*This Grid Layout is Used on the Home Page and About Us Page*/
		display:grid;
			grid-template-columns:auto auto auto;
			grid-template-rows:auto auto;
			justify-items:center;
			align-items:center;
			padding:1em;
			grid-gap:0em;
			row-gap:1em;
			text-align:center;
	} .col3GridHome img {
			text-align:center;
			height:auto;
			width:17em;
			padding:0em;
		}
}

@media only screen and (max-width: 900px) {/*CSS for screen size BELOW 800px*/
	.col3GridHome{/*This Grid Layout is Used on the Home Page and About Us Page*/
		display:grid;
			grid-template-columns:auto auto auto;
			grid-template-rows:auto auto;
			justify-items:center;
			align-items:center;
			padding:1em;
			grid-gap:1em;
			row-gap:1em;
			text-align:center;
	} .col3GridHome img {
			text-align:center;
			max-height:100%;
			max-width:80%;
		}
}
	  

/*Home Page exclusive CSS Above*/

/*About Page exclusive CSS Below*/

.col2Grid p{
	grid-column: 1 / span 1;
}
.col2grid img{
	grid-column: 2 / span 1;
}

.col2Grid2 p{
	grid-column: 2 / span 1;
}
.col2grid2 img{
	grid-column: 1 / span 1;
}

@media only screen and (min-width: 1254px) {/*CSS for screen size at or Above 1254px*/
	.col2Grid{
			display:grid;
			grid-template-columns:auto auto;
			margin:1em;
			grid-gap:4em;
			background-color:#f7f7f7;
			
	} .col2Grid img {
			text-align:center;
			width:100%;
			height:auto;
		}
}

@media only screen and (max-width: 1254px) {/*CSS for screen size BELOW 1254px*/
	.col2Grid{
	display:grid;
				grid-template-columns:50% 50%;
				margin:0.5em;
				grid-gap:2em;
				background-color:#f7f7f7;
	}
		.col2Grid img {
				text-align:center;
				width:80%;
				height:auto;
				padding-left:2em;
				margin-right:1em;
			}

}
@media only screen and (max-width: 600px) {/*CSS for screen size at or Below 600px*/
	.col2Grid{
			display:grid;
			grid-template-columns:50% 50%;
			margin:0.1em;
			grid-gap:1em;
			background-color:#f7f7f7;
	}
		.col2Grid p{margin-left:0.2em;}
		.col2Grid img {
				text-align:center;
				width:70%;
				height:auto;
				padding-left:1em;
				margin-right:0.5em;
			}

}

/*Seperator*/

.col2Grid2{
			display:grid;
			grid-template-columns:auto auto;
			margin:1em;
			grid-gap:4em;
			background-color:#f7f7f7;
			
	} .col2Grid2 img {
			text-align:center;
			width:100%;
			height:auto;
		}


@media only screen and (max-width: 1254px) {/*CSS for screen size at or Below 1254px*/
	.col2Grid2{
	display:grid;
				grid-template-columns:50% 50%;
				margin:0.5em;
				grid-gap:2em;
				background-color:#f7f7f7;
	}
	.col2Grid2 img {
			text-align:center;
			width:80%;
			height:auto;
			padding-right:2em;
			margin-left:1em;
		}

}
@media only screen and (max-width: 600px) {/*CSS for screen size at or Below 1254px*/
	.col2Grid2{
			display:grid;
			grid-template-columns:50% 50%;
			margin:0.1em;
			grid-gap:1em;
			background-color:#f7f7f7;
	}
	.col2Grid2 p{margin-right:0.2em;}
	.col2Grid2 img {
			text-align:center;
			width:70%;
			height:auto;
			padding-right:1em;
			margin-left:0.5em;
		}

}
		
/*About Page exclusive CSS Above*/

/*Product Page CSS Below*/
	.searchGrid{
			display:grid;
			grid-template-columns:auto auto auto auto auto auto;
			margin:1em;
			padding:2em;
			justify-content:center;
			justify-items:center;
			align-content:center;
			align-items:center;
			grid-gap:1em;
	} 

	.searchGrid select{
		width:20em;
		border-radius:0.4em;
		height:3.5em;
		
		
} 
	.searchGrid button{
		width:3.5em;
		height:auto;
		position:relative;
			top:1em;
		
	}
		.searchGrid img {
			width:3em;
			height:3em;
			margin-left:-0.4em;
			}
	#searchBar{ 
		grid-column: 1 / span 1;
		width:30em;
		border-radius:0.4em;
		height:3em;
} 

@media only screen and (min-width: 1254px) {/*CSS for screen size at or Above 1254px*/
	.col4Grid{
		display:grid;
			grid-template-columns:auto auto auto auto;
			grid-template-rows:auto;
			text-align:center;
			margin:1em;
			grid-gap:1.5em;
	} 
		
		.col4Grid img {
				height:auto;
				width:18em;
				text-align:center;
				margin:auto;
			}
		.smallScreenOnly{display:none;}
}

@media only screen and (max-width: 1254px) {/*CSS for screen size BELOW 1254px*/
	.col4Grid{
		display:grid;
			grid-template-columns:auto;
			grid-template-rows:auto;
			text-align:center;
			margin:1em;
			grid-gap:1.5em;
	} 
		.col4Grid img {
				height:auto;
				max-width:80%;
				text-align:center;
				margin:auto;
			}
	.LargeScreenOnly {
		display:none;
	}

	
}
	#pageNumbers{/*These numbers are at the bottom of the Product page*/
		text-align:center;
		padding:2em;
		font-size:1.5em;
		font-family:GlacialIndifferenceBold;
	} #pageNumbers img {
			height:auto;
			width:1.5em;
			padding-top:0.3em;
		}
		#pageNumbers button {
			position:relative;
			top:0.2em;
			cursor:pointer;
		}



/*Product Page CSS Above*/


/*Product Detail Page CSS Below*/
@media only screen and (min-width: 1254px) {/*CSS for screen size at or Above 1254px*/

	.col2GridDetail{/*2 column, 5 row setup for the product details page. Contains the stars, product image, description, price, and add to cart button*/
			display:grid;
			grid-template-columns:auto auto;
			grid-template-rows:auto auto auto auto auto;
			margin:8em;
			margin-top:4em;
			grid-gap:5em;
			row-gap:0.4em;
			
	} .col2GridDetail img {
			text-align:center;
			grid-column: 1 / span 1;
			grid-row: 1 / span 5;
			height:auto;
			max-width:100%;
		}
			.col2GridDetail h2{
				padding-bottom:0em;
				background-color:white;
			}
				#productTitle{
					grid-column: 2 / span 1;
					grid-row: 1 / span 1;
					margin-top:0em;
					margin-bottom:0em;
					padding:0em;
					margin-left:0em;/*All h2 tags have a margin-left value, I removed it here to keep the title in line with the text on this page*/
				}
				#productPrice{
					grid-column: 2 / span 1;
					grid-row: 2 / span 1;
					padding-top:0em;
					padding-bottom:1em;
					font-size:18pt;
				}
				#stars{
					grid-column: 2 / span 1;
					grid-row: 3 / span 1;
					height:auto;
					width:50%;
					padding-top:0em;
					
				}
				#productDescription{
					grid-column: 2 / span 1;
					grid-row: 4  / span 1;
				}
				#addToCart{
					grid-column: 2 / span 1;
					grid-row: 5  / span 1;
					width:40%;
					font-size:18pt;
					
				}
				.productDetailImg{
					grid-column:1 / span 1;
					grid-row: 1 / span 5;
					
				}
}
	
@media only screen and (max-width: 1254px) {/*CSS for screen size BELOW 1254px*/
	
	.col2GridDetail{/*2 column, 5 row setup for the product details page. Contains the stars, product image, description, price, and add to cart button*/
			display:grid;
			grid-template-columns:auto;
			grid-template-rows:auto auto auto auto auto;
			margin-top:4em;
			grid-gap:5em;
			row-gap:0.4em;
			
	} .col2GridDetail img {
			text-align:center;
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
			height:auto;
			max-width:100%;
		}
			.col2GridDetail h2{
				padding-bottom:0em;
			}
				#productTitle{
					grid-column: 1 / span 1;
					grid-row: 2 / span 1;
					margin-top:0em;
					margin-bottom:0em;
					padding:0em;
					margin-left:0em;/*All h2 tags have a margin-left value, I removed it here to keep the title in line with the text on this page*/
				}
				#productPrice{
					grid-column: 1 / span 1;
					grid-row: 3 / span 1;
					padding-top:0em;
					padding-bottom:1em;
					font-size:18pt;
				}
				#stars{
					grid-column: 1 / span 1;
					grid-row: 4 / span 1;
					height:auto;
					width:30%;
					padding-top:0em;
				}
				#productDescription{
					grid-column: 1 / span 1;
					grid-row: 5  / span 1;
				}
				#addToCart{
					grid-column: 1 / span 1;
					grid-row: 6  / span 1;
					width:40%;
					font-size:18pt;
				}
				.productDetailImg{
					grid-column:1 / span 1;
					grid-row: 1 / span 5;
				}
	
}

@media only screen and (min-width: 1254px) {/*CSS for screen size at or Above 1254px*/
	.col4GridDetail{/*Set of 4 images at the bottom of the product details page, Also used on Cart Page*/
		display:grid;
			grid-template-columns:auto auto auto auto;
			text-align:center;
			margin:1em;
			margin-bottom:8em;
			grid-gap:1.50em;
			
			
			
		
	} 
		.col4GridDetail img {/*Set of 4 images at the bottom of the product details page. I also used this class on the Cart Page.*/
				height:auto;
				width:18em;
				max-height:100%;
				text-align:center;
				margin:auto;
			
			}
}

@media only screen and (max-width: 1254px) {/*CSS for screen size BELOW 1254px*/
	.col4GridDetail{/*Set of 4 images at the bottom of the product details page, Also used on Cart Page*/
		display:grid;
			grid-template-columns:auto auto;
			text-align:center;
			margin:1em;
			margin-bottom:8em;
			grid-gap:1.50em;
			
			
			
		
	} 
		.col4GridDetail img {/*Set of 4 images at the bottom of the product details page. I also used this class on the Cart Page.*/
				height:auto;
				width:18em;
				text-align:center;
				margin:auto;
			}
			
}

@media only screen and (max-width: 650px) {/*CSS for screen size BELOW 1254px*/
	.col4GridDetail{/*Set of 4 images at the bottom of the product details page, I also used on Cart Page*/
		display:grid;
			grid-template-columns:auto;
			text-align:center;
			margin:1em;
			margin-bottom:8em;
			grid-gap:1.50em;
	} 
		.col4GridDetail img {/*Set of 4 images at the bottom of the product details page. I also used this class on the Cart Page.*/
				height:auto;
				width:18em;
				text-align:center;
				margin:auto;
			}
			
}
			
/*Product Detail Page CSS Above*/
/*Contact css below*/

#map{
	overflow:hidden;
	width:100%;
	height:auto;
}	#map iframe{
	width:100%;
	height:20em;
	}

@media only screen and (min-width: 1150px) {/*CSS for screen size at or Above 1150px*/
	.col2contactGrid{
		margin-left:10em;
		margin-right:10em;
		padding-top:1em;
		display:grid;
		grid-template-columns:auto auto;
		justify-content:center;
	}
		.col2contactGrid h2{margin-left:0em}/*All h2 tags have a margin-left value, I removed it here to keep the title in line with the text on this page*/

		#contactLeft{ 
			grid-column: 1 / span 1;
		}

		#contactRight{ 
			grid-column: 2 / span 1;
			margin-top:4em;
		}
		#name{
				width:40em;
				height:auto;
				margin-bottom:2em;
				
			}
			#email{
				width:40em;
				height:auto;
				margin-bottom:2em;
				
			}
			#message{
				width:40em;
				height:20em;
				margin-bottom:2em;
				text-align:left;
			}
			#sendMessage{
				width:100%;
				height:auto;
				margin-bottom:2em;
				text-align:center;
				font-size:1.2em;
			}
			
}/**/
@media only screen and (max-width: 1160px) {/*CSS for screen size BELOW 1150px*/
.col2contactGrid{
		margin-left:10em;
		margin-right:10em;
		padding-top:1em;
		display:grid;
		grid-template-columns:auto;
		justify-content:center;
	}
		.col2contactGrid h2{margin-left:0em}/*All h2 tags have a margin-left value, I removed it here to keep the title in line with the text on this page*/

		#contactLeft{ 
			grid-column: 1 / span 1;
		}

		#contactRight{ 
			grid-column: 1 / span 1;
			margin-top:4em;
		}
		#name{
				width:40em;
				height:auto;
				margin-bottom:2em;
				
			}
			#email{
				width:40em;
				height:auto;
				margin-bottom:2em;
				
			}
			#message{
				width:40em;
				height:20em;
				margin-bottom:2em;
				text-align:left;
			}
			#sendMessage{
				width:100%;
				height:auto;
				margin-bottom:2em;
				text-align:center;
				font-size:1.2em;
			}
}/**/
@media only screen and (max-width: 670px) {/*CSS for screen size BELOW #px*/
.col2contactGrid{
		padding-top:1em;
		display:grid;
		grid-template-columns:auto;
		justify-content:center;
	}
		.col2ContactGrid * {font-size:8pt;}
		.col2contactGrid h2{margin-left:0em}/*All h2 tags have a margin-left value, I removed it here to keep the title in line with the text on this page*/

		#contactLeft{ 
			grid-column: 1 / span 1;
			margin-right:0em;
			margin-left:5em;
			font-size:18pt;
		}

		#contactRight{ 
			grid-column: 1 / span 1;
			margin-right:0em;
			margin-left:5em;
			font-size:18pt;
		}
		#name{
				max-width:30em;
				height:auto;
				margin-bottom:2em;
			}
			#email{
				max-width:30em;
				height:auto;
				margin-bottom:2em;
			}
			#message{
				max-width:30em;
				max-height:20em;
				margin-bottom:2em;
				margin-right:0.1em;
				text-align:left;
			}
			#sendMessage{
				max-width:80%;
				height:auto;
				margin-bottom:2em;
				margin-bottom:2em;
				text-align:center;
				font-size:1.2em;
			}
}/**/

#contactRight input, textarea {
				
				border: 0.2em solid black;
				border-radius:0.5em;
				
			}
				#contactRight input:hover{border: 0.2em solid #F7941E;}
				#contactRight input:focus{border: 0.2em solid #F7941E;}
			
/*Contact css above*/

/*Cart CSS Below*/

#cartPageTitle{
	text-align:center;
	margin-left:0em;
}
@media only screen and (min-width: 1254px) {/*CSS for screen size at or Above 1254px*/
	 .col2GridCart{/*Grid holds the contents of the Cart page*/
		display:grid;
		grid-template-columns:auto auto;
		grid-template-rows:auto auto auto auto;
		margin:8em;
		margin-left:4em;
		margin-top:4em;
		grid-gap:3em;
		row-gap:0.4em;	
	}
	
	#cartLeft{
		 grid-column: 1 /span 1;
	 } 
		
	 
	 #cartRight{
		 grid-column: 2 /span 1;
		 text-align:center;
		 display:inline-block;
		 font-size:1.2em;
		 clear:both;
	 }
}

@media only screen and (max-width: 1254px) {/*CSS for screen size BELOW 1254px*/
	 .col2GridCart{/*Grid holds the contents of the Cart page*/
		display:grid;
		grid-template-columns:80%;
		grid-template-rows:auto auto auto;
		margin:0em;
		margin-left:1%;
		margin-top:4em;
		grid-gap:0em;
		row-gap:0em;
	} 
	#cartLeft{
		 grid-column: 1 /span 1;
		 
	 } 
		
	 #cartRight{
		 grid-column: 1 /span 1;
		 text-align:center;
		 display:block;
		 margin-right:40%;
		 font-size:1.2em;
		 margin-left:auto;
		 margin-right:auto;
	 }
}
	.col2GridCart img {
		text-align:center;
		height:auto;
		width:20em;
	}
	.col2GridCart button{
		height:3em;
	}
		 #cartRight button{
			 width:20em;
			 height:3em;
			 font-size:0.8em;
		 }
		 #cartRight svg{
			  padding-bottom:3px;
		 }
	 
	.col2GridCart img {
		text-align:center;
	}
	.col2GridCart button {
		width:100%;
		
	}
	.col2GridCart h2 {
		grid-column: 2 / span 1;
				grid-row: 1 / span 1;
				margin-top:0em;
				padding:0em;
				margin-left:0em;/*All h2 tags have a margin-left value, I removed it here to keep the title in line with the text on this page*/
				width:100%;
	}
			.productPriceCart{
				grid-column: 2 / span 1;
				grid-row: 2 / span 1;
				padding-bottom:1em;
				width:100%;
				font-size:18pt;
				
			}
			
			.productDetailImgCart{
				grid-column:1 / span 1;
				grid-row: 1 / span 3;
				
			}
			


/*Cart CSS Above*/
/*404 page CSS Below*/
#div404 {
	text-align:center;
}
/*404 Page CSS Above*/

/*createUser.php CSS Below*/

.formDiv{/*formDiv class is used on the createUser.php and login.php pages*/
	text-align:center;
	margin:1em;
	margin-top:1em;
}
.fomrDiv h2 {/*formDiv class is used on the createUser.php and login.php pages*/
	margin-left:0em;
}
.formDiv input {
	border-radius:0.4em;
	min-width:20%;
	padding:0.4em;
	margin-bottom:1.5em;
	margin-top:0.4em;
	
}
.formDiv button{
	height:2em;
	font-size:1em;
}

.formDiv hr {
	margin-bottom:1em;
}



/*createUser.php Above*/

/*login.php CSS Below*/

/*login.php CSS Above*/